@chat_box_color: grey;
@draw_color: white;
@loading_bar_color: red;
@selected: blue;
@toolbar_color: #438eb9;
@attr_color: #2e6589;
@navbar_height: 30px;
@margin_left_answer: 100px;
@toolbar_height: 25;
@display_width: 100;
@display_height: 100;
@item_left: 20px;
.picker{
	width: 30px;
	height: 30px;
	margin: 2px 2px 2px 2px;
}
.pick{
	border: 2px solid white;
}
#color{
	border-radius: 4px;
	border: 2px solid white;
}
.display{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: @display_width;
	height: @display_height;
}
.thumbnail{
	width: 100%;
	/*height: 15%;*/
}
.item{
	margin-left: @item_left;
}
.chat-box img{
	padding: 10; 
}
.nav-right{
	position: fixed;
	z-index: 99;
	top: 0;
	right: 0;
	width: 40%;
	height: 100%;
}
.attr{
	position: relative;
	/*float: left;
	width: 30%;*/
	background-color: @attr_color;
	height: @toolbar_height;
	/*background-color: blue;*/
}
.nav-tab {
	line-height: @navbar_height !important; 
	height: @navbar_height !important;
}
.answer{
	margin-left: @margin_left_answer;
}
#slider{
	margin-left: 10px;
	margin-top: 10px;
}
body,html{ 
	width: 100%;
	height: 100%; 
	margin: 0; 
	padding: 0;
	overflow: hidden;
}
body{
	padding-top: @navbar_height;      			
}
.selected{
	background-color: @selected;
}
.navbar{
	z-index: 0;
	min-height: @navbar_height !important;
}
#loading-bar .bar {
	background: @loading_bar_color;
}
.fluid-container{
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;      		
}
.list{
	position: relative;
	overflow-y: hidden;
}
.pad{
	height: 100%;
}
.toolbar{
	position: absolute;
	width: 100%;
	bottom: -@toolbar_height*3/4;
	left: 0;
	background-color: @toolbar_color;
	/*position: relative;
	width: 100%;
	bottom: 0;
	height: 5%;*/
}
.fit-height{
	height: 100%;
}
#draw{
	background-color: @draw_color; 			
}
#textbox{
	position: absolute;
	/*display: none;*/
	z-index: 9;
	/*background-color: gray;*/
}
.slide-pad{
	/*position: relative;*/
	position: absolute;
	z-index: 0;
	/*top: -28px;*/
	overflow: hidden;
}
.mirror{
	position: absolute;
	z-index: 1;
	width: 100%;
	left: 0;
}
#slide{
	width: 100%;
	height: 100%;
	/*height: (100%)+28;*/
	position: relative;
	top: 28px;
	border: none;
}
.chat-box{
	height: 80%;
	background-color: @chat_box_color;
	overflow-y: hidden;
}
.emoticon-box{
	position: relative;
	height: 20%;
	overflow: hidden; 
	white-space: nowrap;
}
.control-area{
	position: relative;
	z-index: 2;
	float: left;
	width: 50%;
	height: 100%;
}
.room-list{
	margin: auto;
}
.modal{
	display: block;
	overflow: hidden;
}
.width-10{
	width: 10%;
}