<!-- <div class="inline color" colorpicker="rgba" colorpicker-position="top" ng-model="attr"></div> -->
<!-- <div class="modal-dialog">
	<div class="modal-content"> -->
		<div class="modal-body">

			<!-- <div class="inline width-75 fit-height"> -->	
			<!-- <div class="widget-box">
				<div class="widget-header header-color-blue">
					<h5 class="bigger lighter">Colors</h5>
				</div>
				<div class="widget-body"> -->
					<div class="alert alert-info">
						<picker color="selector.color"></picker>
					</div>
				<!--</div>
			</div> -->
			<label>
				Alpha: <span>{{selector.alpha}}</span>
			</label>
			<div class="width-100" slider max="100" size="selector.alpha">
			</div>

			<hr>

			<label>
				Stroke size: <span>{{selector.size}}</span>
			</label>
			<div class="width-100 ui-slider-dark" slider max="50" size="selector.size">
			</div>
			<!-- </div> -->

		</div>
		<div class="modal-footer">
			<button class="btn btn-xs btn-warning" ng-click="close()">
				<span class="bigger-150">&#10006; Close</span>
			</button>
		</div>
<!-- 	</div>
</div> -->
