<!-- <div class="modal-dialog">
	<div class="modal-content"> -->
		<div class="modal-body">
			<div class="bigger-180 inline">
				<img class="width-30  pull-left" ng-src="{{room.display}}"/>
				<div class="margin-30 pull-left">
					<span class="bolder">Name :</span>
					<span class="smaller-90">{{room.name}}</span>
					<br>
					<span class="bolder">Owner :</span>
					<span class="smaller-90">{{room.owner}}</span>
					<br>
					<button class="inline btn btn-success icon-ok" ng-click="ok()">Join</button>
					<button class="inline btn btn-warning icon-remove" ng-click="cancel()">Cancel</button>
				</div>
			</div>
			<div class="bigger-180">
				<span class="bolder">Description :</span><br/>
				<span class="margin-10 word-warp width-100">{{room.description}}</span>
			</div>
		</div>
	</div>
<!-- </div> -->