<!-- <div class="modal-dialog">
	<div class="modal-content width-60 auto-margin"> -->

		<div class="modal-body center">
			<div class="middle ligther bigger-180 inline">Please Login with google+ 
			</div>
			<hr>
			<span id="signinButton" class="block">
				<span
				class="g-signin"
				data-callback="signinCallback"
				data-clientid="459319943069-8qa7ada6rk80bqrmmnmdr37n08ejnke0.apps.googleusercontent.com"
				data-cookiepolicy="single_host_origin"
				data-requestvisibleactions="http://schemas.google.com/AddActivity"
				data-scope="https://www.googleapis.com/auth/plus.login
				https://www.googleapis.com/auth/userinfo.email
				https://www.googleapis.com/auth/drive">
			</span>
		</div>

<!-- 	</div>
</div>   -->