<div ng-controller="MainCtrl" ng-swipe-left="checkSwipe(true)" ng-swipe-right="checkSwipe(false)">

	<menu-left class="navbar navbar-fixed-top"></menu-left>
	
	<div class="fluid-container">
		<div class="row fit-height">
			<div class="well col-md-9 col-lg-9 fit-height">
				<ui-view></ui-view>
			</div>
			<div class="well col-md-3 col-lg-3 visible-md visible-lg fit-height">
				<menu-right></menu-right>
			</div>					
			<div ng-show="isShow" class="nav-right">
				<div class="visible-xs visible-sm fit-height">
					<menu-right></menu-right>
				</div>
			</div>	
		</div>
	</div>

</div>