<!-- <div class="navbar-container"> -->
<div class="navbar-header pull-left">
	<ul class="nav ace-nav">
		<li class="nav-tab">
			<a class="home_page pink" ui-sref="main.home"></a>
		</li>
		<li class="nav-tab">
			<a class="drive_page green" ui-sref="main.drive"></a>
		</li>
		<li class="nav-tab">
			<a class="draw_page blue" ui-sref="main.draw"></a>
		</li>
		<li class="nav-tab">
			<a class="slide_page yellow" ui-sref="main.slide"></a>
		</li>
		<li class="nav-tab">
			<a class="quiz_page red" ui-sref="main.quiz"></a>
		</li>
		<li class="nav-tab">
			<a class="player_page grey" ui-sref="main.player"></a>
		</li>
	</ul>
<!-- 		<ul class="nav ace-nav">
			<li class="nav-tab light-orange"><a ui-sref="main.home">Home</a></li>
			<li class="nav-tab light-purple"><a ui-sref="main.drive">Drive</a></li>
			<li class="nav-tab purple"><a ui-sref="main.draw">Draw</a></li>
			<li class="nav-tab dark-opaque"><a ui-sref="main.slide">Slide</a></li>
			<li class="nav-tab grey"><a ui-sref="main.quiz">Quiz</a></li>
		</ul> -->
	</div>
	<div class="navbar-header pull-right white bigger-120">
		<!-- 		<span class="align-middle"><input type="button" class="btn quiz_page" style="background-color: rgba(255, 255, 255, 0);"></span> -->
		<span ng-show="isTeacher">
			<div class="v-line btn btn-inverse inline nav-tab" ng-click="record()">
				<i class="no-margin" style="color:red;" ng-class="{'icon-pause': isRecord,'icon-circle': !isRecord}"></i>
				<!-- <span class="bigger-110">logout</span> -->
			</div>
		</span>

		<span class="align-middle">{{roomName}}</span>
		<span class="v-line align-middle"></span>
		<span class="align-middle">{{userName}}</span>
		<span class="v-line align-middle"></span>
		<div id="logout" class="btn btn-danger inline nav-tab" ng-click="logout()">
			<i class="icon-off no-margin bigger-140"></i>
			<span class="bigger-110">logout</span>
		</div>
		<iframe id="logout" ng-src="{{url}}" style="display:none;"></iframe>
	</div>
<!-- </div> -->