<div class="navbar-container">
	<div class="navbar-header pull-left">
		<ul class="nav ace-nav">
			<li class="nav-tab light-orange"><a ui-sref="main.home">Home</a></li>
			<li class="nav-tab light-purple"><a ui-sref="main.drive">Drive</a></li>
			<li class="nav-tab purple"><a ui-sref="main.draw">Draw</a></li>
			<li class="nav-tab dark-opaque"><a ui-sref="main.slide">Slide</a></li>
			<li class="nav-tab grey"><a ui-sref="main.quiz">Quiz</a></li>
		</ul>
	</div>
	<div class="navbar-header pull-right">
		<span>{{roomName}}</span>
		<span>{{userName}}</span>
		<button class="inline" ng-click="logout()">logout</button>
		<iframe id="logout" ng-src="{{url}}" style="display:none;"></iframe>
	</div>
</div>