<div ng-swipe-up="checkToolSwipe(false)" ng-swipe-down="checkToolSwipe(true)" ng-swipe-left="checkMenuSwipe(false)" ng-swipe-right="checkMenuSwipe(true)">
	<div style="display:none;">
		<canvas id="data"/>
	</div>
	<div is-visible="isDesktop" class="visible-md visible-lg"></div>
	<div class="row">

		<div class="pad col-md-9 col-lg-9">
			<canvas id="draw" draw-pad text="{{text}}" send="true" fit-size></canvas>
			<input id="textbox" ng-model="text">
			<tool-bar class="toolbar fluid-container" tool="tool" is-hide="{{hideTool&&!isDesktop}}"></tool-bar>
		</div>

		<div ng-if="isDesktop" class="col-md-3 col-lg-3">
			<group></group>
		</div>
		<div ng-if="!isDesktop" ng-hide="hideMenu" class="nav-right">
			<group></group>
		</div>
	</div>
	
</div>