<div class="widget-box">
	<div class="widget-header header-color-grey">
		<div class="inline" ng-init="tab = 'slide'">
			<button class="btn btn-app btn-xs no-radius btn-light" ng-click="tab = 'slide'">
				Slide
			</button>
			<button class="btn btn-app btn-xs no-radius btn-light" ng-click="tab = 'quiz'">
				Quiz
			</button>
		</div>
		<div class="widget-toolbar">
			<button class="btn btn-xs bigger" ng-click="saveSlide()">
				<span class="bigger-140">Save Slide</span>
			</button>
			<button class="btn btn-xs bigger" ng-click="saveDraw()">
				<span class="bigger-140">Save Draw</span>
			</button>
		</div>
	</div>

	<div class="widget-body" ng-switch on="tab">
		<drive-slide ng-switch-when="slide"></drive-slide>
		<drive-quiz ng-switch-when="quiz"></drive-quiz>
	</div>
</div> 