<!-- <div class="card"> -->
	<div class="widget-box transparent fit-height">

		<div class="widget-header">
			<h5 class="bigger-160">Room</h5>

			<div class="widget-toolbar width-10 align-center">
				<a href="">
					<i class="icon-refresh bigger-210" ng-click="list()"></i>
				</a>
			</div>
		</div>

		<div class="widget-body" style="position:relative;top:0;bottom:0;">
			<div class="list fit-height" scroll-bar>
				<div class="inline card room align-center" ng-repeat="room in rooms" ng-class="{'selected': selected==$index}" ng-click="showDetail($index)">
					<img class="width-100" ng-src="{{room.display}}"/>
					<hr>
					<div class="inline bigger-140 word-warp width-100">{{room.name}}</div>
				</div>
			</div>
		</div>
		
	</div>
<!-- </div> -->
