<div class="widget-box">
	<div ng-hide="isEnd">
		<div class="widget-header header-color-dark">
			<h5 class="bigger-180 lighter">{{index}}. {{question}}</h5>
		</div>
		<div class="widget-body">
			<div class="widget-main padding-5 answer" ng-repeat="ans in answer">
				<input class="ace" type="radio" name="answer" ng-click="select($index)" ng-checked="$index==0"/>
				<span class="lbl bigger-180">  {{ans}}</span>
			</div>
			<div class="widget-toolbox clearfix">
				<button class="btn pull-right" ng-click="next()">Next</button>
			</div>
		</div>    
	</div>
	<div ng-show="isEnd">
		<div class="widget-header header-color-dark">
			<h5 class="bigger-180 lighter">Finish</h5>
		</div>
		<div class="widget-body" >
			<div class="widget-main answer">
				Finish!!!!
			</div>
		</div>
	</div>
</div>