<div ng-swipe-left="nextIndex()" ng-swipe-right="prevIndex()" ng-swipe-up="isHide = false" ng-swipe-down="isHide = true">

	<div class="pad">
		<div class="mirror">
			<canvas id="mirror-1" hand-writer tool="{{tool}}" text="{{text}}" send="{{isSend}}"></	canvas>	
			<input 	id="textbox" ng-model="text">	
		</div>	
		<div class="slide-pad">	
			<slide send="{{isSend}}"></slide>
		</div>
	</div>

	<div class="toolbar" style="position: absolute;z-index=99">
		<div>
			<button ng-click="prevIndex()">Prev</button>
			<button ng-click="nextIndex()">Next</button>
			<button ng-click="changeMode()">Mode</button>
		</div>
		<div ng-hide="isHide">
			<button ng-repeat="t in tools" ng-click="changeTool($index)">{{t}}</button>
			<button ng-repeat="a in attrs" ng-click="changeAttr($index)">{{a}}</button>
		</div>
	</div>
	
</div>