<div>
	<button ng-repeat="t in tools" ng-click="changeTool($index)">{{t}}</button>
	<button ng-repeat="a in attrs" ng-click="changeAttr($index)">{{a}}</button>
</div>
<div>
	<button ng-click="prevIndex()">Prev</button>
	<button ng-click="nextIndex()">Next</button>
	<button ng-click="save()">Save</button>
</div>
	<div class="slide-pad" fit-size>
		<slide send="{{isSend}}"></slide>
	</div>
<div class="draw-pad mirror" fit-size>
	<canvas id="mirror-1" hand-writer tool="{{tool}}" text="{{text}}" send="{{isSend}}"></canvas>
	<input id="textbox" ng-model="text">
</div>